<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Data</title>
</head>
<body>
<h3>{{ cus }}</h3>

<h4 style="text-align: center;">Customer Data</h4>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Pickup Address ID</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Show Information on Air
            Waybill
        </th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Consignee City Name</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Consignee Name</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Consignee Address</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Consignee Phone Number 1
            (03000000000)
        </th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Consignee Phone Number 2
            (03000000000)
        </th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Consignee Email Address
        </th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Self Collection</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Order ID</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Order Date (YYYY-MM-DD)
        </th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Item Product Type ID</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Item Description</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Item Quantity</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Item Insurance</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Product Value</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Special Instructions</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Estimated Weight (kg)</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Mode of Shipment ID</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Same Day Timing ID</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Collection Amount</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Mode of Payment ID</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Charges Mode ID</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Pieces</th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Shipper Reference Number
            1
        </th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Shipper Reference Number
            2
        </th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Shipper Reference Number
            3
        </th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Shipper Reference Number
            4
        </th>
        <th scope="col" style="border-style:solid; border-width:1px; border-color: #000">Shipper Reference Number
            5
        </th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<h1>{{ Cus }}</h1>
{% for cu in cus %}
    {{ cu.cusPickup_Address_ID }}
    {{ cu.cusShow_Information_on_Air_Waybill }}
    {{ cu.cusConsignee_City_Name }}
    {{ cu.cusShow_Information_on_Air_Waybill }}
    {{ cu.cusShow_Information_on_Air_Waybill }}


{% endfor %}

{% else %}
<h1>No data </h1>

{% endif %}
</body>
</html>